@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Inconsolata', monospace;
font-family: 'Karla', sans-serif; */

/*

colors:
a, footer: #2c3a63
html: teal / bg: #f5ffce

*/

/* <!-- TESTING COLOUR COMBOS HEREEE -->
<div class="testingcolors">
     <div class="theme">
        <h2>test text here!</h2>
     </div>

     <div class="theme2">
        <h2>test text here!</h2>
     </div>

     <div class="theme3">
        <h2>test text here!</h2>
     </div>

     <div class="theme4">
        <h2>test text here!</h2>
     </div>

     <div class="theme5">
        <h2>test text here!</h2>
     </div>
</div> */


/* other combos i like: */
/* .theme2 {
  color: teal;
  background-color: #e8feee;
}

.theme3 {
  color: teal;
  background-color: #fefbdc;
}

.theme4 {
  color: skyblue;
  background-color: #14212f;
}

.theme5 {
  color: skyblue;
  background-color: #2c3a63;
} */

.testingcolors {
   display: flex;
   width: 100%;
   align-items: baseline;
   float: left;
   flex-wrap: wrap;

}

.testingcolors div {
   width: 20px;
   height: 10px;
   margin: 1em;
   text-align: center;
}

.theme-alt {
   color: #f5ffce;
   background-color: teal;
}

.flextitle {
    flex-basis:20%;
    padding-right: 1em;
}

.theme {
   color: teal;
   background-color: red;
}

.theme1 {
  color: teal;
  background-color: orange;
}

.theme2 {
  color: teal;
  background-color: gold;
}

.theme3 {
  color: teal;
  background-color: forestgreen;
}

.theme4 {
  color: skyblue;
  background-color: cornflowerblue;
}

.theme5 {
  color: skyblue;
  background-color: mediumpurple;
}
