@import url("imports.css");
/* importing colours/colour scheme tests + fonts */

/*CSS Stylesheet for Joycelyn Tng's Portfolio
- everything must be alphabetical! or u will go crazy */


/* --VIEWPORT BREAKPOINTS--*/
/* desktop */
@media only screen and (min-width: 600px) {

   body {
      width: 100%;
   }

   h1 {
      font-size: 4em;
   }

   h2 {
      font-size: 3em;
   }

   h3 {
      font-size: 2em;
   }

   nav ul{
      list-style-type: none;
      float:left;
      width: 100%;
      color: black;
   }
}

/* phone/tablet */
@media only screen and (max-width: 600px) {

   h1 {
      font-size: 2em;
   }
   h2 {
      font-size: 1.6em;
   }

   h3 {
      font-size: 1.3em;
   }

   nav ul {
      list-style-type: none;
   }

}



/*--BARE BONES STYLING (just enough to make site run)--*/
/*HTML TAG SECTION ---*/

/*CLASSES SECTION ---*/


/*--SCHMANCY STYLING (extra animations & stuff mostly for desktop)--*/
/* ANIMATIONS: */

